.venv
.vscode/
**/*.env
.env.docker.dev
.git/
.github/
.tool-versions
*.sqlite3
.DS_Store
.coverage
.gitignore
.gitmodules
.ruff_cache/
.pytest_cache/
__pycache__/
*.md

demo/
tests/
media/
coverage*
htmlcov/

fly.toml
Dockerfile.dev
.env.docker.sample
docker-compose.yaml
Makefile
