<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Catalogue</title>
    <script type="module" crossorigin src="/static/assets/index-D6l2AZ_b.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-P2MZvv17.css">
  </head>
  <body>
    <div hidden>{{ props|json_script:"app-props" }}</div>
    <script>
      try {
          window.__rootProps = JSON.parse(document.getElementById('app-props').textContent);
      } catch (error) {
          window.__rootProps = {};
      }
    </script>
    <div id="app"></div>
  </body>
</html>
